@import '../../../../styles.css';
.tasks-container {
    border-radius: 4px;
    display: inline-block;
    width: 330px;
}

.tasks-header {
    align-items: center;
    background-color: #F3F3F4;
}

.pull-right {
    float: right;
}

.no-float {
    display: inline-block;
}

.center-align {
    left: 50%;
    top: 50%;
    align-self: center;
}

.right-margin {
    margin-right: 5px;
}

.left-margin {
    margin-left: 5px;
}