@import '../../../../styles.css';
.tasks-container {
    border-radius: 4px;
    display: inline-block;
    width: 330px;
}

.tasks-header {
    align-items: center;
    background-color: #F3F3F4;
}

.pull-right {
    float: right;
}

.no-float {
    /* float: none; */
    display: inline-block;
}