<div class="timesheet-container round-border">
    <div class="timesheet-header-container">
        <app-timesheet-header [selectedDay]="selectedDay" (calendarIconSelected)=onSelectedDate($event)></app-timesheet-header>
    </div>
    <div class="calendar-container">
        <div *ngFor="let dayReport of weekReports">
            <app-week [date]="dayReport.date" [selectedDay]="selectedDay" (daySelected)=onSelectedDate($event) [approvalState]="dayReport.approvalState"></app-week>
        </div>
    </div>
    <div class="selected-day-go-to-timesheet-container">
        <span>{{selectedDay | date: 'EEEE'}} {{selectedDay | date: 'dd.MM.yyyy'}}</span>
        <button mat-button class="go-to-timesheet-button" routerLink="/dummy-timesheet">GO TO TIMESHEET</button>
    </div>
    <div class="tasks-container">
        <app-tasks-of-the-day iconName="schedule" groupName="Hours" totalName="Duration" [tasks]="workHoursTasks" [taskGroupType]="workEventType.WorkHours" [workStart]="workDayStart" [workEnd]="workDayEnd"></app-tasks-of-the-day>
        <app-tasks-of-the-day iconName="attach_money" groupName="Expenses" totalName="Total" [tasks]="expensesTasks" [taskGroupType]="workEventType.Expenses"></app-tasks-of-the-day>
        <app-tasks-of-the-day iconName="timelapse" groupName="Additional hours" totalName="Amount" [tasks]="additionalHoursTasks" [taskGroupType]="workEventType.AdditionalHours"></app-tasks-of-the-day>
    </div>
    <div class="add-task-button-container">
        <button class="add-task-button round-border" routerLink="/add-task">ADD TASK</button>
    </div>
</div>