<div class="timesheet-container round-border">
    <div class="timesheet-header-container">
        <app-timesheet-header [selectedDay]="selectedDay"></app-timesheet-header>
    </div>
    <div class="calendar-container">
        <div *ngFor="let dayReport of weekReports">
            <app-week [date]="dayReport.date" [selectedDay]="selectedDay" [approvalState]="dayReport.approvalState"></app-week>
        </div>
    </div>
    <div class="selected-day-go-to-timesheet-container">
        <span>{{selectedDay | date: 'EEEE'}} {{selectedDay | date: 'dd.MM.yyyy'}}</span>
        <input type="submit" class="go-to-timesheet-button" style="border:none;" value="GO TO TIMESHEET" />
    </div>
    <div class="tasks-container">
        <app-tasks-of-the-day></app-tasks-of-the-day>
        <app-tasks-of-the-day></app-tasks-of-the-day>
        <app-tasks-of-the-day></app-tasks-of-the-day>
    </div>
    <div class="add-task-button-container">
        <button class="add-task-button round-border" ng-click="/add-task">ADD TASK</button>
    </div>
</div>