<div class="timesheet-container round-border">
    <div class="timesheet-header-container">
        <app-timesheet-header></app-timesheet-header>
    </div>
    <div class="calendar-container">
        <!-- <div *ngFor="let dayReport of weekReports">    
            <app-week [date]="dayReport.date" [selectedDay]="selectedDay"
            [status]="dayReport.status" (daySelected)="onSelectedDate($event)"></app-week>
        </div> -->
        <app-week></app-week>
    </div>
    <hr>
    <div class="tasks-container">
        <app-tasks-of-the-day></app-tasks-of-the-day>
    </div>
    <div class="add-task-button-container">
        <button class="add-task-button round-border" ng-click="/add-task">ADD TASK</button>
    </div>
</div>