@import '../../../../styles.css';
.week-container {
    width: 46px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.day-number {
    margin-top: 9px;
    margin-bottom: 9px;
}

.selected-day {
    background-color: #F08900;
    color: white;
}

.today-border {
    border: 1px solid #F08900;
}