/* You can add global styles to this file, and also import other style files */


/* @orange-color: #F08900;
@light-gray-color: #F3F3F4;
@gray-color: #A1A1A1; */

html,
body {
    height: 100%;
    background-color: #F3F3F4;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Roboto;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.round-border {
    border-radius: 4px;
}

.task-group-font {
    color: #A1A1A1;
}